/*MAIN header styling*/
.text-center{
  font-size: 4rem;
  text-shadow: .15rem .15rem  rgba(227, 230, 238, 0.484);
  }

  /*BUTTON HOVER*/
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(3, 72, 246);
    transform: translateY(-0.2rem);
    transition: transform 350ms;
  }
/*5-day forecast*/
.hide {
    display: none;
}

.show {
    display: block;

}



